# Logs
logs
*.log

# JetBrains
.idea

# Dependency directory
node_modules

# Other
.DS_Store
.eslintcache
*.swp
*~
.tmp-changelogs.html
*.log
tmp
.env
.vscode

# sdk-release-kit
.bongo

# sdk-coverage-tests
**/test/coverage/generic/
coverage-test-report.xml

# yarn
.yarn
