# Logs
logs
*.log

# JetBrains
.idea

# VS Code
.vscode
*.code-workspace
.history

# Dependency directory
node_modules
/packages/*/package-lock.json
/packages/visual-grid-client/test/fixtures/test-app/dist/*

# Other
.DS_STORE
.eslintcache
*.swp
*~
