# Logs
logs
*.log

# JetBrains
.idea

# VS Code
.vscode

# Runtime data
pids
*.pid
*.seed
RunResults

# Source code
src/*
index.js

# Tests
test/*

# Webpack config
webpack.config.js

# bundle file, should be included
!bundle.js