@font-face {
  font-family: 'Montaga';
  font-style: normal;
  font-weight: 400;
  src: local('Montaga-Regular');
}

body {
  font: 400 24px/1.5 Montaga;
}

.blue {
  color: blue;
}

img {
  display: block;
}

.bg-smurfs {
  background: url('smurfs.jpg');
  width: 151px;
  height: 227px;
  filter: hue-rotate(60deg);
}

.bla {
  background-image: url('/blabla');
}