body {
  margin: 10px;
  background-color: #274469;
  color: white;
}
.content {
  width: 800px;
  margin: 10 auto;
  overflow: hidden;
}
.doc {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.doc-block {
  float: left;
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}
code {
  background-color: #1b2532;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
}
.left, .right {
  display: block;
  box-sizing: border-box;
  width: 50%;
  height: 1000px;
  float: left
}
.cors-1 {
  border: 2px solid #aa07e0;
}
.cors-2 {
  border: 2px solid #039e08;
}
.no-cors {
  border: 2px solid white;
}