body {
  background-color: #2c573b;
  color: white;
}
iframe {
  display: block;
  width: 320px;
}
.cors-0 {
  border: 2px solid #0991e0;
}
.cors-1 {
  border: 2px solid #aa07e0;
  height: 536px;
}
.no-cors {
  border: 2px solid white;
}