[class^=bg-smurfs] {
  width: 151px;
  height: 227px;
}
.bg-smurfs1 {
  background: url('smurfs3.jpg');
  background-image: url('smurfs1.jpg');
  filter: hue-rotate(60deg);
  background-color: red;
}

.bg-smurfs2 {
  background: red url('smurfs2.jpg');
  background-size: 50%;
  filter: hue-rotate(-60deg);
}